body{
	font-size: 6pt;
	font-family: Arial;

	}

.wide_input{
	width:90%;
	}


td {
	vertical-align: top;
	}
h2{
	margin-top:0;
}

h3{
	text-transform:uppercase;
	font-size:6pt;
	margin-bottom:0;
	}
ol{
	padding:10px;
	margin:0;
	}
ul{
	list-style: none;
	margin: 0;
	padding:0;
	}

.sublist{
	font-style:italic;
	margin:0;
	}

.canvas_section{
	border:thin black solid;
	padding:0 10px;
	padding-top:10px;
	} 

h4{
	margin:0;
}
p{
	margin:0;}
